.logo {
  background-image: url('https://res.cloudinary.com/dv6fnyi8w/image/upload/v1747487142/Logo_gq8pvz.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: flex;
  align-items: center;
  margin-right: .75rem;
  height: 40px;
  width: 64px;
  border-radius: 3px;
}
